# Core Libraries
numpy==1.26.4
pandas==2.2.3
scipy==1.14.1

# Machine Learning & Deep Learning
scikit-learn==1.5.2

# Utilities and Helper Libraries
protobuf==4.25.5
joblib==1.4.2
threadpoolctl==3.5.0
requests==2.32.3
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2

# Debugging Tools
debugpy==1.8.7

uvicorn
fastapi

google-cloud-bigquery
google-cloud-storage==2.14.0
google-api-core==2.8.2
googleapis-common-protos==1.56.4
